---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Trebuchet MS", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #f3fbff;
$background-color: none;
$brand-color:      #9ac6ff;

$grey-color:       #EEEEEE;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "_stars",
        "_icons"
;

.post-content{
    p {
        img {
            width: 30%;
        }
    }
    ul{
        li{
            ul{
                li{
                    display: inline-block;
                    margin: 0;
                    height: 100%;
                    position: relative;
                    top: 50%;
                }
                li:first-child{
                    width: 3em;
                }
                li:nth-child(2){
                    width: 60%;
                }
            }
        }
    }
}

.img-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin:auto;
}

h1{
    text-align:center;
}

li {
    span{
        color: $brand-color;
    }
}


.intro-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;        // vertical alignment

    text-align:justify;

    div{
        display: flex;
        width: 300px;
    }

    img{
        width: 200px;
    }
}