.collection-container {
    h3 {
        margin-top: 30px;
        margin-bottom: 0;
        width: 90%;
    }
}

.collection-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;

    div {
        display: inline-block;
        margin: auto;
        text-align:justify;
    }

    > div {
        width: 400px;
    }

    .flag {
        max-width: 80px;
        margin: auto;
        background-color: rgba(165, 165, 165, 0.140);
        color: $grey-color;
    }

    img {
        margin: auto;
        width: 200px;
        height: 200px;
        overflow: hidden;
        object-fit: scale-down;
    }

    .link {
        position: relative;
        margin-right: 10px;

        a:visited {
            color: #9ac6ff;
        }

        a:hover {
            color: white;
        }

        .fa {
            width: 20px;
            height: 20px;
            padding: 5px;
            border-style: solid;
            border-radius: 50%;
            border-color: white;
            border-width: 2px;
            background-color: rgba(165, 165, 165, 0.140);

            &:before{
                position: relative;
                bottom: 0;
                // left: 1px;
                top: 1px;
                // -ms-transform: translate(-50%, 50%);
                // transform: translate(-50%, 50%);
                font-size: 15px;
            }
        }
    }
}

.tags-container {

    span, button {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0 5px 0 5px;
        border-radius: 10px;
        background-color: rgba(240, 248, 255, 0.452);
    }

    button {
        height: 30px;
        margin: 10px 10px;
        padding: 5px 10px;
        color: white;
    }

    button:hover, .selected {
        background-color: rgba(79, 82, 84, 0.452);
    }
}

@media screen and (max-width: 730px) {
    .collection-item {
        > div {
            width: 90%;
        }

        img {
            margin-right: 10px;
        }

        .flag {
            margin-left: 10px;
        }

        .link {
            display: inline-block;
        }

        .desc {
            display: block;
        }
    }
}

.photo-gallery {
    justify-content: center;
    margin-bottom: 30px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        overflow: hidden;
        object-fit: scale-down;
        
        @media screen and (max-width: 500px) {
            width: 80%;
        }
    }
}